.navbar-nav
{
    flex-direction: row;
}

.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}
.navbar .dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar a, .navbar a:active {
    color: #888;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .action-form a {		
    color: #1c3331;
    padding: 0 !important;
    font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
    color: #fff;
    background: #33cabb !important;
    border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
    color: #fff;
    background: #333b3b !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}
.navbar .social-btn .facebook-btn {
    background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
    background: #4676bd;
}
.navbar .social-btn .twitter-btn {
    background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}
.form-check-label input {
    position: relative;
    top: 1px;
}
body {
    background: url(./images/frontimg.jpg) no-repeat top;
    background-color: #A9A37F;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
  }
  #main-wrap {
    background-color: rgba(255,255,255, 0.7);
  }
  p {
    padding: 5px;
    text-align: justify;
    font-size: x-large;
    margin: 20px;
  }
  h1  {
    text-align: center;
    color:rgb(148, 143, 143);
  }
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 50px,0; 
    float: none; 
    margin-bottom: 10px; 
    background-image: linear-gradient(rgb(240, 240, 240), rgb(243, 241, 241));


}
  